*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

li{
    list-style: none;
}

html:focus-within {scroll-behavior: smooth;}
a:not([class]) {text-decoration-skip-ink: auto;}

a:hover,
a:focus{
    cursor: pointer;
    text-decoration: 1px #fff underline;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


img,
picture {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root{
    font-family: 'Open Sans', sans-serif;
    
    /*FONT WEIGHTS*/
    --fw-light:400;
    --fw-bold:700;

    /*COLORS*/
    --color-light:#fff;
    --color-light-blue: hsl(217, 28%, 15%);
    --color-medium-blue:hsl(219, 30%, 18%);
    --color-dark-blue:#171F2B
    --bg-footer:hsl(216, 53%, 9%);
    --color-btn:#58C9CB;

    /*FONT SIZES*/
    --fs-normal:1rem;
    --fs-medium: 1.2rem;
    --fs-big:1.5rem;
    --fs-small: .875rem;
    --fs-smallest: .75rem;
}

body{
    background-color: var(--color-light-blue);
    color: #fff;
}



/*Typography*/
h1{font-size: var(--fs-big);}
h2{font-size:var(--fs-normal);}
p{font-size: var(--fs-normal);}
button{font-size: var(--fs-normal);}
.testimonial-user-name{
    text-align: left;
    font-size: var(--fs-smallest);
    font-weight: var(--fw-bold)  ;
}
.testimonial-user-job{font-size: var(--fs-smallest);}
.testimonial-paragraph{
    font-size: var(--fs-smallest);
    text-align: left;
}

/*Layout*/

.wrapper{margin: 0 auto;}


/*Styling NAVIGATION*/
header{
    background-color: var(--color-medium-blue);
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    width: 90%;
}

.logo{
    object-fit: contain;
    width: 25%;
    max-width: 150px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-link{
    font-size: .875rem;
    margin-right: 1em;
}


.nav-link:last-child{
    margin-right: 0;
}



/*Styling main*/
main{
    background: #171F2B;
    width: 100%;
}


main .wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    width: 100%;
    background-color:var(--color-medium-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
    z-index: 1;
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}



.intro-img{
    margin: 1em 0;
}

.intro-title{
    margin-top: 1em;
    margin-bottom: .5em;
    max-width: 90%;
}

.intro-paragraph{
    max-width: 500px;
    width: 90%;
}

.btn{
    padding: 1em 0;
    width: 80%;
    max-width: 280px;
    border: none;
    color: var(--color-light);
    font-weight: var(--fw-bold);
    background-color: var(--color-btn);
    border-radius: 30px;
    margin: 1.5em 0 ;
}

.btn:hover,
.btn:focus{
    background-color: #57f8fb;
    cursor: pointer;
}
/*Styling Main section services*/
.service{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    max-width: 300px;
    margin: 2em auto;
}

.service-img{
    margin: 1em 0;
    height:75px;
    object-fit: cover;
}

.service-title{
    margin: .5em 0;
}


.service:last-child{
    margin-bottom: 6em;
}

@media(min-width:650px){
    .services{
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "access security"
        "collaboration files";
        row-gap: 3em;
        column-gap: 200px;
    }
    .access{grid-area: access;}
    .security{grid-area: security;}
    .collaboration{grid-area: collaboration;}
    .files{grid-area: files;}

    .service{
        margin-top: 0;
    }
}


.outro{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outro-first-section{
    margin-bottom: 3em;
}

.outro-second-section{
    text-align: left;
}

.outro-paragraph{
    margin: 1em 0;
    max-width: 550px;
}

.outro-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-btn);
    position: relative;
    max-width: fit-content;
}

.outro-link-img{
    margin-left: .5em;
}

.outro-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: .1em;
    top: 25px;
    background-color: var(--color-btn);
}


@media(min-width:750px){
    .outro{
        max-width: 70%;
        flex-direction: row;
        justify-content: space-between;
    }

    .outro-img{
        max-width: 450px;
        align-self: center;
        margin-right: 2em;
    }


}

.testimonial{
    transform: translateY(18%);
}

.testimonial-one{
    background-color: var(--color-medium-blue);
    border-radius: 8px;
    padding: 1.5em;
    margin: 1em auto;
    width: 88%;
    max-width:320px;
}

.one{
    position: relative;
}

.one::after{
    content: url("images/bg-quotes.png");
    position: absolute;
    bottom:85%;
    right:90%;
    opacity: 70%;
    
}

.testimonial-user{
    display: flex;
    align-items: center;
}

.testimonial-paragraph{
    margin-bottom:1em;
}

.testimonial-user-propic{
    width: 12%;
    align-self: center;
    border-radius:50%;
    margin-right: .5em;
}

@media(min-width:800px){
    .testimonial{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1em;
    }

    .testimonial-one{
        max-width: 400px;
    }
}


.get-started{
    background-color: var(--color-medium-blue);
    padding: 2em;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    transform: translateY(50%);
    
}

.get-started-paragraph{
    margin: 1em;
}

#get-started-form-mail{
    width: calc(100% - 2em);
    padding: 1em 2em;
    border-radius: 30px;
    border:none;
    font-size: var(--fs-small);
}

@media(min-width:400px){
    #get-started-form-mail{
        font-size:var(--fs-normal);
    } 
}

.get-started-btn{
    max-width: 100%;
    width: calc(100% - 2em);
    margin-bottom: 0;
}



/*FOOTER*/

footer{
    background-color: var(--bg-footer);
    padding-top: 250px;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer-wrapper{
    margin: 0 auto;
    width: 90%;
    
}

.footer-inner-wrapper{
    margin: 0 auto;
}

@media(min-width:600px){
    .footer-inner-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr) );
        column-gap: 2em;
        justify-items: center;
    }
}

@media(min-width:800px){
    .footer-wrapper{
        width: 80%;
    }
}

.logo-footer{
    width: 180px;
    margin-bottom: 1em;
}


.footer-location,
.footer-contacts{
    display: flex;
    align-items: flex-start;
    margin: .5em 0;
}

.footer-icon-location{
    height: 18px;
    object-fit: cover;
    margin-right: 1em;
    margin-top: .5em;
    max-width: 200px;
}


.footer-location-paragraph{
    max-width: 300px;
}

.footer-icon-contacts{
    width: 16px;
    align-self: center;
    margin-right: 1em;
}

.activity-link,
.pages-link{
    margin: .5em 0;
}

.pages-link:first-child{
    margin: 0;
}

.activity-link a,
.pages-link a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


@media (min-width:800px) {
    :root{
        font-size: 18px;
    }

    .testimonial-paragraph,
    .testimonial-user-name{
        font-size: var(--fs-normal);
    }
    
    .testimonial-user-job{
        font-size: var(--fs-small);
        white-space: nowrap;
    }
    
}


